<div class="row">
    <div class="col">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header font-weight-bold text-center"><i class="fas fa-eye fa-lg">  Show All Categories</i>  </div>
            <div class="card-body text-center">
                <a href="/dashboard/showall" class="btn btn-primary"><i class="fas fa-th-list fa-lg">  Show</i></a>
            </div>
        </div>
    </div>
    <div class="col">
        <a asp-action="ShowAllVideos" class="btn btn-primary">Videos</a>
    </div>
</div>